@charset "utf-8";
body{
    width: 100%;
    padding-top:20px;
}

#warp{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 120px;
}
/* User menu CSS */
#user_menu{
    display: flex;
    justify-content: space-between;
    justify-content: right;
    padding: 0px;
    width: 1200px;
}
.list_menu{
    float:right;

}
.list_menu > li {
    float: left;
    width: 70px;
    text-align: center;
}
.list_menu> .menu_join > a {
    color: blueviolet;
}
.menu_login > a, .menu_center > a {
    color: black;
}
.sub {
    display :none
}

/* Main Logo */

#headerLogo {
    width: 10%;
    position:relative;
    height:158px;
    margin:0 auto
}

/* header */

#gnbMenu{
    position:absolute;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    top: 205px; 
    width: 1200px;
    z-index: 5;
}
#gnbMenu.sticky{
    position:fixed;
    top: 0;
}

.menu_main li {
    font-size: 19x;
    float: left;
    width: 70px;
    text-align: center;

}

#gnbMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.gnb {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.gnb>li {
    padding: 20px 30px;
    font-size: 18px;
    color: black;
}
.inp_search {
  height: 30px;
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
  border-radius: 30px;
  transition: 0.4s;
  width:270px;
  text-align:center;
}

.gbnMenulist>a>span , .cart>a, .gnb_search>form>a   {
    color: black;
}

/* footer */
.footer-top{
    margin: 0;
    border-top: 1px solid #F7F7F7;
}
.inner_footer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cc_view {
    
    margin: 25px;
    display: flex;
}
.tit_cc {
    margin: 18px;
}
.tit {
    display: block;
    width: 140px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
}
.cc_view>h3>span {
    
    font-size: 27px;
}

.cc_view>h3>a {
    border: 1px solid #E3E3E3;
}
.cc_view>h3>a {
    color: black
}
.foo_list, .p_txt{
    position: relative;
    left: 5%;
}
.company {
    position: absolute;
    left: 55%;
    margin: 10px;
}
.list_l{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.list_sns{
    margin-top: 40px;
    display: flex;
}

.footer_cc{
    position: absolute;
    margin-left: 30px;
    right: 55%;
}
.company{
    color :gray
}
.list_l>li>.link {
    color: black
}

link {
    color: purple;
}
