<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="warp">
        <div class="noticeView_inner">
            <div class="noticeView_tit_div">
                <h2 class="noticeView_tit">
                    공지사항
                    <p class="noticeView_sub">
                        컬리의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.
                    </p>
                </h2>
            </div>
            <div class="noticeView_table_inner">
                <table class="noticeView_table_outline">
                    
                </table>
            </div>
        </div>
    </div>
</body>
</html>