/* 사이드바 */
.snb{
    float: left;
    width: 300px;
    display: block;
}

.snb>h2{
    margin-bottom: 40px;
}

.inner_sub{
    border: 1px solid #f2f2f2;
    width: 250px;
}

.list_menu li{
    border-bottom: 1px solid #f2f2f2;
}

.list_menu li:last-child{
    border-bottom: 0;
}

.list_menu li a{
    display: block;
    color: #666;
    font-size: 14px;
    padding: 14px 0 16px 20px;
    line-height: 20px;
}

.list_menu li a:hover{
    display: block;
    color: #5f0080;
    background-color: rgba(179, 179, 179, 30%);
    font-size: 14px;
    padding: 14px 0 16px 20px;
    line-height: 20px;

}

.arr{
    position: relative;
}

.arr::after{
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid #777;
    border-right: 1px solid #777;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: -30px;
    left: 160px;
}

/* 메인 */
.main{
    margin-top: 30px;
    width: 800px;
    float: left;
    line-height: 30px;
    display: block;
}

.main::after{
    content: "";
    display: block;
    clear: both;
}

.delivery_address{
    float: right;
    text-decoration: none;
    color: #666;
}

.main>.main_content{
    text-align: center;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #666;
}

.main>.main_content>span{
}

.main_text{
    margin-right: 10px;
    width: 30%;
    font-size: 30px;
}

.sub_text{
    width: 70%;
    font-size: 18px;
    color: #666;
}

.content_top{
    width: 800px;
    list-style: none;
    border-top: 1px solid black;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.basic{
    text-align: left;
}

.basic_check{
    background-color: #ddd;
    border-radius: 5px;
}

.a1{
    width: 70%;
}

.a2, .a3{
    width: 15%;
}