<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"상품소개 :: 장보기"</title>
    <link rel="stylesheet" href="css/marketKurly.css">
    <script src="https://kit.fontawesome.com/326f61a68e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/index.js"></script>
    
</head>
    
</head>
<body>
<div id="wrap">
 <div id="pos_scroll" ></div><!--포탈스크롤-->
 
 <div id="container" >
    <div id="header"></div>
                        <!-- sidebar -->
                        <div id="qnb" class="quick-navigation" style="top: 280px;">
                    
                            <div class="bnr_qnb" id="brnQuick">
                            </div>
                            
                            <div class="side_menu">
                                <a href="#" class="link_menu ">등급별 혜택</a>
                                <a href="#" class="link_menu ">레시피</a>
                                <a href="#" class="link_menu ">베스트 후기</a>
                            </div>
                            <div class="side_recent">
                                <strong class="tit">최근 본 상품</strong>
                                <div class="list_goods" data-height="209" style="height: 80px;">
                                    <ul class="list"><li><a class="link_goods" href="#" alt=""></a></li></ul>
                                </div>
                                <button type="button" class="btn_up"><i class="fa-solid fa-angle-up"></i></button>
                                <button type="button" class="btn_down"><i class="fa-solid fa-angle-down"></i></button>
                            </div>
                        </div>
                        <!-- sidebar -->
                    
                        <div>
                           
                        </div>
                    
                        
    <div id="content" > <!--컨텐츠-->
        <div id="main" ><!--메인-->
            <!--리모컨 -->
    <div class="page_aticle" >
        <div id="lnbMenu" class="lnb_menu" > <!--상단배너 이미지 start-->
            <div id="bnrCategory" class="bnr_category link"  style="display: block;">
                <div class="thumb" style="text-align: center"; >
                    <img src="img/show_img.webp" alt="상단배너">
                </div>
            </div> <!--상단배너 이미지 end-->
            
            <div class="inner_lnb" > <!--카테고리 매뉴 start-->
                <h3 class="tit">생활용품·리빙·캠핑</h3>
                <ul class="list on">
                    <li data-start="124" data-end="188">
                        <a class="on">전체보기</a>
                    </li>
                    <li data-start="298" data-end="368"><a class="">휴지·티슈</a>
                    </li>
                    <li data-start="454" data-end="548"><a class="">여성·위생용품</a>
                    </li>
                    <li data-start="634" data-end="728"><a class="">세제·청소용품</a>
                    </li>
                    <li data-start="790" data-end="908"><a class="">화훼·인테리어소품</a>
                    </li><li data-start="982" data-end="1088"><a class="">의약외품·마스크</a>
                    </li><li data-start="1174" data-end="1268"><a class="">생활잡화·문구</a>
                    </li><li data-start="1384" data-end="1448"><a class="">캠핑용품</a>
                    </li><li class="bg">
                    </li>
                </ul>
            </div> <!--카테고리 매뉴 end-->
        </div>
    

    
        <div id="goodsList" class="page_section section_goodslist" >
            <div class="list_ability"  style="display: block;">
                <div class="sort_menu" >
                    <div >
                        <p class="count">
                            <span class="inner_count"> 상품 총 100개  </span> <!--상품갯수-->
                        </p> 
                        <div class="select_type" >
                            <a class="name_select">추천순</a>
                             <ul class="list">
                                 <li class="">
                                     <a class="on">추천순</a>
                                     <div class="recommend" >
                                         <div id="layerRecommend" class="layer_recommend" >
                                             <p class="desc">검색어 적합성과 소비자 인기도(판매량, 판매금액<br> 조회수 등)를 종합적으로 고려한 순서입니다.
                                            </p>
                                            </div>
                                        </div>
                                        
                                </li>
                                <li class="">
                                <a class="">신상품순</a>
                                </li>
                                <li class="">
                                    <a class="">판매량순</a>
                                </li>
                                <li class="">
                                    <a class="">혜택순</a> 
                                </li>
                                <li class="">
                                    <a class="">낮은 가격순</a>
                                </li>
                                <li class="">
                                    <a class="">높은 가격순</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list_goods" > <!--상품진열-->
                <div class="inner_listgoods" >
                    <ul class="list">
                        <li>  <!--상품 틀 복사해서 사용하기-->
                            <div class="item" >
                                <div class="thumb" >
                                    <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                        <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                    </a> 
                                    <div class="group_btn" >
                                </div>
                            </div> 
                            <a class="info">
                                <span class="name">상품 이름1(날자,수령)
                                </span> <span class="cost">
                                    <span class="price">00000원</span> 
                                    </span>
                                    <span class="desc">0월 00일 (요일) 수령</span>
                                     <span class="tag">
                                        <!--제품 유의사항 적는곳-->
                                 </span>
                                </a>
                            </div>
                        </li> <!--복사 끝-->
                        
                        <!--테스트복사-->
                              <li>  <!--상품 틀 복사해서 사용하기-->
                                <div class="item" >
                                    <div class="thumb" >
                                        <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                            <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                        </a> 
                                        <div class="group_btn" >
                                    </div>
                                </div> 
                                <a class="info">
                                    <span class="name">상품 이름1(날자,수령)
                                    </span> <span class="cost">
                                        <span class="price">00000원</span> 
                                        </span>
                                        <span class="desc">0월 00일 (요일) 수령</span>
                                         <span class="tag">
                                            <!--제품 유의사항 적는곳-->
                                     </span>
                                    </a>
                                </div>
                            </li> <!--복사 끝-->
                            <li>  <!--상품 틀 복사해서 사용하기-->
                                <div class="item" >
                                    <div class="thumb" >
                                        <!---->
                                        <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                            <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                        </a> 
                                        <div class="group_btn" >
                                    </div>
                                </div> 
                                <a class="info">
                                    <span class="name">상품 이름1(날자,수령)
                                    </span> <span class="cost">
                                        <span class="price">00000원</span> 
                                        </span>
                                        <span class="desc">0월 00일 (요일) 수령</span>
                                         <span class="tag">
                                            <!--제품 유의사항 적는곳-->
                                     </span>
                                    </a>
                                </div>
                            </li> <!--복사 끝-->
                            <li>  <!--상품 틀 복사해서 사용하기-->
                                <div class="item" >
                                    <div class="thumb" >
                                        <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                            <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                        </a> 
                                        <div class="group_btn" >
                                    </div>
                                </div> 
                                <a class="info">
                                    <span class="name">상품 이름1(날자,수령)
                                    </span> <span class="cost">
                                        <span class="price">00000원</span> 
                                        </span>
                                        <span class="desc">0월 00일 (요일) 수령</span>
                                         <span class="tag">
                                            <!--제품 유의사항 적는곳-->
                                     </span>
                                    </a>
                                </div>
                            </li> <!--복사 끝-->
                            <li>  <!--상품 틀 복사해서 사용하기-->
                                <div class="item" >
                                    <div class="thumb" >
                                        <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                            <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                        </a> 
                                        <div class="group_btn">
                                    </div>
                                </div> 
                                <a class="info">
                                    <span class="name">상품 이름1(날자,수령)
                                    </span> <span class="cost">
                                        <span class="price">00000원</span> 
                                        </span>
                                        <span class="desc">0월 00일 (요일) 수령</span>
                                         <span class="tag">
                                            <!--제품 유의사항 적는곳-->
                                     </span>
                                    </a>
                                </div>
                            </li> <!--복사 끝-->
                            <li>  <!--상품 틀 복사해서 사용하기-->
                                <div class="item" >
                                    <div class="thumb" >
                                        <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                            <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                        </a> 
                                        <div class="group_btn" >
                                    </div>
                                </div> 
                                <a class="info">
                                    <span class="name">상품 이름1(날자,수령)
                                    </span> <span class="cost">
                                        <span class="price">00000원</span> 
                                        </span>
                                        <span class="desc">0월 00일 (요일) 수령</span>
                                         <span class="tag">
                                            <!--제품 유의사항 적는곳-->
                                     </span>
                                    </a>
                                </div>
                            </li> <!--복사 끝-->
                            <li>  <!--상품 틀 복사해서 사용하기-->
                                <div class="item" >
                                    <div class="thumb" >
                                        <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                            <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                        </a> 
                                        <div class="group_btn" >
                                    </div>
                                </div> 
                                <a class="info">
                                    <span class="name">상품 이름1(날자,수령)
                                    </span> <span class="cost">
                                        <span class="price">00000원</span> 
                                        </span>
                                        <span class="desc">0월 00일 (요일) 수령</span>
                                         <span class="tag">
                                            <!--제품 유의사항 적는곳-->
                                     </span>
                                    </a>
                                </div>
                            </li> <!--복사 끝-->
                            <li>  <!--상품 틀 복사해서 사용하기-->
                                <div class="item" >
                                    <div class="thumb" >
                                        <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                            <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                        </a> 
                                        <div class="group_btn" >
                                    </div>
                                </div> 
                                <a class="info">
                                    <span class="name">상품 이름1(날자,수령)
                                    </span> <span class="cost">
                                        <span class="price">00000원</span> 
                                        </span>
                                        <span class="desc">0월 00일 (요일) 수령</span>
                                         <span class="tag">
                                            <!--제품 유의사항 적는곳-->
                                     </span>
                                    </a>
                                </div>
                            </li> <!--복사 끝-->
                            <li>  <!--상품 틀 복사해서 사용하기-->
                                <div class="item" >
                                    <div class="thumb" >
                                        <a class="img" style="background-image: url(img/goods_Flower.jpg);"> <!--사용할 상품 원본이미지 백그라운드에 두기-->
                                            <img src="img/goods_Flower.jpg" alt="상품 이미지"> <!--상품이미지 올리기 -->
                                        </a> 
                                        <div class="group_btn" >
                                    </div>
                                </div> 
                                <a class="info">
                                    <span class="name">상품 이름1(날자,수령)
                                    </span> <span class="cost">
                                        <span class="price">00000원</span> 
                                        </span>
                                        <span class="desc">0월 00일 (요일) 수령</span>
                                         <span class="tag">
                                            <!--제품 유의사항 적는곳-->
                                     </span>
                                    </a>
                                </div>
                            </li> <!--복사 끝-->
                        <!--테스트 복사-->
                </div>
            </div>
        </div>
        
            <!--페이지 단축바 start-->
            <div class="layout-pagination">
                <div class="pagediv" >
                    <!--아직 이해 못한 부분 
                    이해 못한부분 백 부분 페이지 관련 css코드 작동 할수있도록 
                    마지막 페이지랑 눌럿을때 누른페이지가 버튼이 비활성화되는기준을 layout-pagination-number __active 로잡고
                                                                    활성화되면  layout-pagination-number 처리해주는 부분.
            Vue.component('list-goods-paging',{ 
            props:['idx', 'pageCount', 'totalPageCount'],  
            template:'\
            <span>\
            <a v-if="pageCount != idx+totalPageCount" class="layout-pagination-button layout-pagination-number" @click="$emit(\'on-move-list\', idx+totalPageCount)">{{ idx+totalPageCount }}</a>\
            <strong v-if="pageCount == idx+totalPageCount" class="layout-pagination-button layout-pagination-number __active">{{ idx+totalPageCount }}</strong>\
            </span>\'});
                    -->
                    <a href="#" class="layout-pagination-button layout-pagination-first-page">맨 앞 페이지로 가기</a> <!--맨앞페이지 주소-->
                     <a href="#" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>  <!--페이지 넘김-->
                      <span><strong class="layout-pagination-button layout-pagination-number __active">1</strong></span> <!--버튼기능 class로 지정하기 본인페이지-->
                      <span><a class="layout-pagination-button layout-pagination-number">2</a></span> <!--버튼 기능 class 지정하기 페이지ur-->
                      <span><a class="layout-pagination-button layout-pagination-number">3</a></span>
                      <span><a class="layout-pagination-button layout-pagination-number">4</a></span>
                      <span><a class="layout-pagination-button layout-pagination-number">5</a></span>
                      <span><a class="layout-pagination-button layout-pagination-number">6</a></span>
                      <span><a class="layout-pagination-button layout-pagination-number">7</a></span>
                      <span><a class="layout-pagination-button layout-pagination-number">8</a></span>
                      <span><a class="layout-pagination-button layout-pagination-number">9</a></span>
                      <span><a class="layout-pagination-button layout-pagination-number">10</a></span>
                    <a href="#" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a><!--페이지 넘김-->
                    <a href="#" class="layout-pagination-button layout-pagination-last-page">맨끝 페이지로 가기</a><!--맨뒤 페이지 주소-->
                </div>
            </div>
        </div>
        <!-- 필요해 보여서 남기는 스크립트 기능은
        페이지 단축바 눌럿을때 이전페이지가 상품페이지면
        상품리스트 페이지로 돌아와지는기능 (추정)-->
        <!-- <script type="text/javascript">  
            $(document).ready(function(){
              var categoryNo = null;
              if(sessionStorage.getItem('goodsListReferrer') && sessionStorage.getItem('goodsListReferrer') === 'goodsView'){
                //이전페이지가 상품상세일경우
                lnbMenu.referrer = true;
                goodsList.referrer = true;
                if(sessionStorage.getItem('gListCategoryNo') && '918' != '029' && '918' != '038'){
                  categoryNo = sessionStorage.getItem('gListCategoryNo');
                }else{
                  categoryNo = "918";
                }
              }else{
                lnbMenu.referrer = false;
                goodsList.referrer = false;
                categoryNo = "918";
              }
          -----------------------------------------이부분이 호출부분
              // 카테고리 호출
              lnbMenu.getCategoryNum = categoryNo;
          
              // 상품목록노출
              goodsList.pageType="list"; // 일반
              goodsList.type = "pc";
          
              lnbMenu.update();
            });
          </script>
           -->                         
    </div> 
</div>

</div>
<div id="footer"></div>
</div>

</body>
</html>